body {
    margin: 0;
    background-color: #06164d;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    height: 80px;
   }

p{
    margin-top:1.5rem;
    
}
#display_date{
    color: #F7C6AB;
}
.mainWrapper{
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: 16rem auto;
    grid-template-areas:"nTDW cW"
    "mTD cW";
}
.newToDoWrapper {
    grid-area: nTDW;
    background-color: #F5EEE6;
    width: 100%;
    display: block;
    margin-top: 0.6rem;
}
::placeholder{
    color: #06164d;
}
.newToDo {
    display: flex;
    height: 4.2rem;
    background-color: #06164d;
    border: none;
    width: 100%;
}



.todo-list input + label:before {
    content: '⬜️';
    margin-right: 1rem;
    position: absolute;
}
.todo-list input:checked + label:before {
    content: '🏆';
}

.add-items input {
    width: 98%;
    padding: 5px 1px;
    font-size: 1.5rem;
    outline: none;
    color:#06164d;
}
.add_button{
    width:100%;
    position: relative;
    top: 3.6rem;
    padding: 0.5rem;
    border: 1px solid #F7C6AB;
    border-radius: 25px;
    background: #06164d;
    cursor: pointer;
    color: #F7C6AB;
    transition: all 1.5s;
    
}


.add_button:hover{
    background:#F7C6AB;
    color:#06164d;
}

.fa-plus {
    margin: 1rem 1rem 1rem 0;
    color: #F7C6AB;
    font-size: 1rem;
}
.fa-plus:hover{
    color:#F5EEE6;
}

.close {
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
}

.myToDo {
    grid-area: mTD;
    width:100% ;
    background-color: #F5EEE6;
    /* overflow: scroll; */
    display: block;
    margin-top: 3rem;
}

li{
    padding: 1rem;
    list-style: none;
    font-size: 2rem;
    margin-left: -2rem;
    -webkit-box-shadow: 8px 15px 33px -18px rgba(6,22,77,1);
    -moz-box-shadow: 8px 15px 33px -18px rgba(6,22,77,1);
    box-shadow: 8px 15px 33px -18px rgba(6,22,77,1);
}
label::after{
    margin-left:28rem; 

}
.todo-list {
    margin-top: 20px;
  }
  
  .todo-list input {
    padding-left: 10px;
  }

.myToDoHeader{
    height: 4.2rem;
    background-color: #06164d;
    position: sticky;
    top: 0;
}

.toDoHeader {
    color: #F7C6AB;
    margin: 0;
    padding: 18.7167px 10px;
    margin-left: 11rem;
}

.calenderWrapper {
    grid-area: cW;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    margin: 0 1rem
    
}

.weekDays{
    color: #F7C6AB;
}

.days {
    width: 100%;
    height: 7.9rem;
    background-color: #F5EEE6;
}

.currentDay{
    width: 100%;
    height: 9.5rem;
    background-color: #F5EEE6;
    border: 1rem solid red;
}


.myToDo::-webkit-scrollbar { 
    width: 0 !important 
}

.myToDo { 
    overflow: -moz-scrollbars-none; 
}

header{
    display: flex;
    justify-content: center;
}

.curentMonthYear{
    color: #F5EEE6;
    font-size: 4rem;
    margin-top: -1rem;
}

#showDate{
    color: rgb(6,22,77);
}



.month {
	padding: 70px 25px;
	width: 100%;
	background:#06164d;
	text-align: center;
}

.month ul {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
}

.month ul li {
	color: white;
	text-transform: uppercase;
	letter-spacing: 3px;
}
/* @media screen and (max-width: 992px) {
    body {
    
    }
  } */
 